@model Pattern_Memento.Domain.Circle

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Circle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CanvasID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CanvasID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.X)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.X)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Y)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Y)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Radius)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Radius)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FigureID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
